@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Phân Tích Cảm Xúc</h1>
    <br />
    <h3>Nhóm 900</h3>
    <br /><br />
          <div class="row" style="color:#095d8e">
              <div class="col-3"></div>
              <div class="col-3">
                  <strong>Lê Văn Tiến</strong>
              </div>
              <div class="col-3">
                  <strong>43.01.104.180</strong>
              </div>
              <div class="col-3"></div>
              <div class="col-3"></div>
              <div class="col-3">
                  <strong>Nguyễn Thanh Phong</strong>
              </div>
              <div class="col-3">
                  <strong>43.01.104.132</strong>
              </div>
              <div class="col-3"></div>
          </div>
    
</div>
